{{define "deck"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Hearthstone</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="site-header">
        <nav>
            <ul class="nav-menu">
                <li class="nav-item nav-logo"><a href="/"><img src="/static/img/Hearthstone-Logo.png" alt="Accueil"></a>
                </li>
                <li class="nav-item"><a href="/cards">Cartes</a></li>
                <li class="nav-item"><a href="/cardbacks">Dos de Cartes</a></li>
                <li class="nav-item"><a href="/deck/code">Deck Builder</a></li>
                <li class="nav-item"><a href="/favorites">Favoris</a></li>
            </ul>
        </nav>
    </header>
    <h1>Deck Hearthstone</h1>
    <p class="deck-format"><strong>Format :</strong> {{.Deck.Format}}</p>
    {{if .Deck.Cards}}
    <section>
        <div class="cards-container">
            {{range .Deck.Cards}}
            <div class="card">
                <a href="/card?id={{.ID}}"><img src="{{.Image.FR}}" alt="Image de la carte {{.Name.FR}}"></a>
            </div>
            {{end}}
        </div>
    </section>
    {{else}}
    <p class="text-center">Aucune carte trouvée pour ce deck.</p>
    {{end}}
</body>

</html>
{{end}}