{{define "deck_form"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Deck Hearthstone</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="site-header">
        <nav>
            <ul class="nav-menu">
                <li class="nav-item nav-logo"><a href="/"><img src="/static/img/Hearthstone-Logo.png" alt="Accueil"></a>
                </li>
                <li class="nav-item"><a href="/cards">Cartes</a></li>
                <li class="nav-item"><a href="/cardbacks">Dos de Cartes</a></li>
                <li class="nav-item"><a href="/deck/code">Deck Builder</a></li>
                <li class="nav-item"><a href="/favorites">Favoris</a></li>
            </ul>
        </nav>
    </header>
    <div class="deck-form-container">
        <h1 class="deck-form-title">Afficher un deck Hearthstone à partir d'un code</h1>
        <form action="/deck" method="get" class="deck-form">
            <div class="deck-input-group">
                <label for="code" class="deck-label">Code du
                    deck :</label>
                <input type="text" id="code" name="code" value="{{.DefaultCode}}" required class="deck-input">
            </div>
            <button type="submit" class="btn-deck-submit">Afficher
                le deck</button>
        </form>
    </div>
</body>

</html>
{{end}}