{{define "list_cards"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Cartes d'Hearthstone</title>
</head>

<body>
    <h1>Liste des Cartes d'Hearthstone </h1>
    <form method="get" action="/">
        <label for="textFilter">Rechercher une carte :</label>
        <input id="textFilter" type="text" name="textFilter" placeholder="Nom ou texte de carte" value="{{.SearchTerm}}">
        <button type="submit">Rechercher</button>
    </form>
    <ul>
        {{range .Cards}}
        <li>
            <h3>{{.Name.FR}}</h3>
            <p><strong>ID :</strong> {{.ID}}</p>
            <p><strong>Coût en mana :</strong> {{.ManaCost}}</p>
            <p><strong>Attaque :</strong> {{.Attack}}</p>
            <p><strong>Santé :</strong> {{.Health}}</p>
            <p><strong>Rareté :</strong> {{.RarityName}}</p>
            <img src="{{.Image.FR}}" alt="Image de la carte {{.Name.FR}}">
        </li>
        {{end}}
    </ul>
    <div>
        <p>Page {{.CurrentPage}} / {{.TotalPages}}</p>
        {{if .HasPrev}}
        <a href="{{.PrevURL}}">Page précédente</a>
        {{end}}
        {{if .HasNext}}
        <a href="{{.NextURL}}">Page suivante</a>
        {{end}}
    </div>
</body>

</html>
{{end}}