{{define "list_cardbacks"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Dos de Cartes d'Hearthstone</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Liste des Dos de Cartes d'Hearthstone</h1>
    <div class="cards-container">
        {{range .CardBacks}}
        <div class="card">
            <h3>{{.Name.FR}}</h3>
            <img src="{{.Image}}" alt="Image du dos de carte {{.Name.FR}}">
        </div>
        {{end}}
    </div>
    <div>
        <p>Page {{.CurrentPage}} / {{.TotalPages}}</p>
        {{if .HasPrev}}
        <a href="/cardbacks?page={{.PrevPage}}">Page précédente</a>
        {{end}}
        {{if .HasNext}}
        <a href="/cardbacks?page={{.NextPage}}">Page suivante</a>
        {{end}}
    </div>
</body>

</html>
{{end}}

